// colors
$purple: #7957d5;
$white: #ffffff;

// types
$primary: $purple;

// text style
$link: $white;

// footer
$footer-background-color: $primary;
$footer-color: $white;
$footer-padding: 1rem 3rem;

@import "node_modules/bulma/bulma.sass";
